<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Si</string>
	<string>Bang</string>
	<string>Than</string>
	<string>Mieng</string>
	<string>Lam</string>
	<string>Trang</string>
	<string>Bien</string>
	<string>Vivian</string>
	<string>Catherine</string>
	<string>Calvin</string>
	<string>Ly</string>
	<string>Tong</string>
</array>
</plist>
